# Output image name
IMAGE_NAME=spy-bazzite-deck-gnome

REPO_ORGANIZATION="carlmon"

IMAGE_DESC="Bazzite Deck GNOME with some personal tweaks."
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/450101?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
